if ZMK_DISPLAY

menuconfig KOEPCKEAE_BONGO_CAT
    bool "Show WPM bongo cat"
    select ZMK_WPM
    select LV_USE_IMG
    select LV_USE_ANIMATION

if KOEPCKEAE_BONGO_CAT

config KOEPCKEAE_BONGO_CAT_IDLE_LIMIT
    int "Upper limit for WPM for showing idle animation"
    default 30

config KOEPCKEAE_BONGO_CAT_SLOW_LIMIT
    int "Upper limit for WPM for showing slow typing image"
    default 60

endif # KOEPCKEAE_BONGO_CAT

endif # ZMK_DISPLAY
